name: Deploy Azure Function App

on:
  push:
    branches:
      - main

env:
  AZURE_RG: "sentapi-rg"
  AZURE_APP_NAME: "sentapi-func"
  APP_WORKING_DIR: "src"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v3

      - name: "Azure Login"
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: "Setup Python"
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: "Zip and Deploy Function App"
        run: |
          cd ${{ env.APP_WORKING_DIR }}
          pip install -r requirements.txt -t .
          zip -r ../app.zip .
          cd ..
          az functionapp deployment source config-zip \
            -g ${{ env.AZURE_RG }} \
            -n ${{ env.AZURE_APP_NAME }} \
            --src app.zip
